@{
    ViewData["Title"] = "Contáctanos";
}
<h1>@ViewData["Title"]</h1>
<h4 style="color: green;">MUSICA FESTIVAL</h4>
<p>Teléfono:+511 241-71-96</p>
<p>Dirección:Calle Alcanfores 199 Tda 101 – 102</p>
<p>Arequipa – Perú</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3827.0850762599684!2d-71.50956868535786!3d-16.420505043039352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9143b4d824c5acf5%3A0xbaa9067011513b9!2sCIFUMIGA%20E.I.R.L!5e0!3m2!1ses-419!2spe!4v1595607223065!5m2!1ses-419!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<br>
<div class="row">
    <div class="col-md-6">
        <section>
            <form method="post">
                <hr />
                
                <div class="form-group">
                    <label>Ingrese su Nombre</label>
                    <input type="text" class="form-control rounded-pill bg-secondary text-white" />
                    
                </div>
            </form>
        </section>
    </div>
    
</div>
