@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
<section style="background-color:lightgray">
    <section style="background-color:thistle">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="~/images/tienda.png" alt="" width="590">
                </div>
                <div class="col-md-5 text-center">
                    <p>Somos una empresa 100% peruana líder en venta de guitarras y accesorios . Buscamos ofrecer a
                        nuestros
                        clientes la mejor experiencia de compra, brindándoles asesoría antes, durante y después de su
                        compra.
                        Contamos con más de 16 años en el mercado peruano ofreciendo variedad y garantía.
                        Contamos con tienda física, una moderna web, RUC verificado. Además nuestros clientes y años en
                        el
                        mercado nos respaldan. Tenemos actualmente más de 27 mil seguidores en nuestra Fan Page y
                        deseamos
                        seguir creciendo y formes parte de esta familia peruana.</p>
                </div>
            </div>
        </div>
    </section>
    <hr width="100%" size="20" noshade="noshade" color="#adb5bd">
    <section style="background-color:wheat">
        <div class="container text-center ourservices mt-0">
            <div class="row rowsetting">
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto ">
                    <div class="imgsetting d-block m-auto"><i class="fas fa-eye fa-3x text-white"></i>
                    </div>
                    <h4>Visión</h4>
                    <p class="text-justify offset-4">Ser reconocidos por nuestros clientes como la primera opción en
                        productos para la música.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto ">
                    <div class="imgsetting d-block m-auto"><i class="fas fa-flag fa-3x text-white"></i>

                    </div>
                    <h4>Misión</h4>
                    <p class="text-justify  offset-4">Satisfacer a nuestros clientes, brindándoles productos y servicios
                        de
                        calidad que generen soluciones de acuerdo a sus necesidades.</p>
                </div>
            </div>
        </div>
    </section>
    <hr width="100%" size="20" noshade="noshade" color="#adb5bd">
    <section style="background-color:seashell">
        <div class="container text-center">
            <h1>Nuestros Valores</h1><br>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="~/images/comunicación.jpg" height>
                        <div class="card-block">
                            <div class="card-title text-center">
                                <h6>Comunicación</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="~/images/responsabilidad.jpg" height="250px">
                        <div class="card-block">
                            <div class="card-title text-center">
                                <h6>Responsabilidad</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="~/images/integridad.jpg" height="250px">
                        <div class="card-block">
                            <div class="card-title text-center">
                                <h6>Integridad</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="~/images/respeto.jpeg" height="250px">
                        <div class="card-block">
                            <div class="card-title text-center">
                                <h6>Respeto</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  

</section>

 <hr width="100%" size="20" noshade="noshade" color="#adb5bd">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/marca1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/marca2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/marca3.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>